{%- from 'vhdl/state_transition_condition.j2' import state_transition_condition -%}

{%- macro next_state(state_transitions, state_name) -%}
{%- for transition in state_transitions %}
    {%- if transition.inputs[0].name != '1' %}
    {%- if loop.first and loop.last %}
    if ({{state_transition_condition(transition)}}) = '1' then
        state_next <= {{ transition.state_target }};
    else
        state_next <= {{ state_name }};
    {%- elif loop.first %}
    if ({{state_transition_condition(transition)}}) = '1' then
        state_next <= {{ transition.state_target }};
    {%- elif loop.last %}
    elsif ({{state_transition_condition(transition)}}) = '1' then
        state_next <= {{ transition.state_target }};
    else
        state_next <= {{ state_name }};
    {%- else %}
    elsif ({{state_transition_condition(transition)}}) = '1' then
        state_next <= {{ transition.state_target }};
    {%- endif %}
    {%- else %}
    state_next <= {{ transition.state_target }};
    {%- endif %}
{%- endfor %}
{%- if state_transitions[0].inputs[0].name != '1' %}
    end if;
{%- endif %}
{%- endmacro %}