{%- from 'common/delim_sep_list.j2' import comma_sep_list %}

{# sequential logic sensitivity list #}
{%- macro sequential_logic_sensitivity_list(reset_type) -%}
{%- if reset_type == 'SYNC' -%}
clk
{%- elif reset_type == 'ASYNC' -%}
clk, rst
{%- endif -%}
{%- endmacro %}

{# next state sensitivity list #}
{%- macro next_state_sensitivity_list(combinatorial_sensitivity_mode, fsm_inputs) -%}
{%- if combinatorial_sensitivity_mode == 'IMPLICIT' -%}
all
{%- elif combinatorial_sensitivity_mode == 'EXPLICIT' -%}
state, {{ comma_sep_list(fsm_inputs) }}
{%- endif -%}
{%- endmacro %}

{# state output sensitivity list #}
{%- macro state_output_sensitivity_list(combinatorial_sensitivity_mode, fsm_type, fsm_inputs) -%}
{%- if combinatorial_sensitivity_mode == 'IMPLICIT' -%}
all
{%- elif combinatorial_sensitivity_mode == 'EXPLICIT' -%}
{%- if fsm_type == 'MOORE' -%}
state
{%- elif fsm_type == 'MEALY' -%}
state, {{ comma_sep_list(fsm_inputs) }}
{%- endif -%}
{%- endif -%}
{%- endmacro %}