{%- macro state_register(state_bits, name) -%}
signal {{ name}} : std_logic_vector({{ state_bits-1 }} downto 0);
{%- endmacro -%}

{%- macro state_registers(coding_structure, state_bits) -%}
-- state registers
{{ state_register(state_bits, 'state') }}
{% if coding_structure != 'ALL_IN_ONE' and coding_structure != 'SEPARATE_COMB_OUT' -%}
{{ state_register(state_bits, 'state_next') }}
{% endif -%}
{%- endmacro -%}