{%- from 'vhdl/combined_state_register_next_state.j2' import combined_state_register_next_state -%}
{%- from 'vhdl/state_condition.j2' import state_condition -%}

{%- if combinatorial_structure == 'CASE_WITH_NESTED_IF_ELSE' %}
case state is
{%- for state in fsm.states.values() %}
    {{ state_condition(combinatorial_structure, state.name, False) }}
        {{- combined_state_register_next_state(state.transitions, state.name) | indent(4) }}
{%- endfor %}
    when others =>
        state <= {{ default_state }};
end case;
{%- elif combinatorial_structure == 'IF_ELSE_NESTED' %}
{%- for state in fsm.states.values() %}
{%- if loop.first %}
{{ state_condition(combinatorial_structure, state.name, True) }}
{%- else %}
{{ state_condition(combinatorial_structure, state.name, False) }}
{%- endif %}
    {{- combined_state_register_next_state(state.transitions, state.name) }}
{%- endfor %}
else
    state <= {{ default_state }};
end if;
{%- endif %}