{%- from 'verilog/outputs.j2' import fsm_outputs_all_zeroed -%}
{%- from 'verilog/sensitivity_list.j2' import state_output_sensitivity_list -%}
{%- from 'verilog/state_condition.j2' import state_condition -%}
{%- from 'verilog/state_output.j2' import state_output_moore, state_output_mealy -%}

// state output logic
always @({{ state_output_sensitivity_list(combinatorial_sensitivity_mode, fsm.fsm_type.name, fsm.inputs) }}) begin
    {%- if output_handling_method == 'ALL_OUTPUTS_ZEROED_BEFORE_STATE_LOGIC' -%}
    {{- fsm_outputs_all_zeroed(coding_structure, fsm.outputs) | indent(4) }}
    {% endif %}
    {%- if combinatorial_structure == 'CASE_WITH_NESTED_IF_ELSE' %}
    case (state)
        {%- for state in fsm.states.values() %}
        {{ state_condition(combinatorial_structure, state.name, False) }} begin
            {%- if fsm.fsm_type.name == 'MOORE' -%}
            {{ state_output_moore(coding_structure, output_handling_method, fsm.outputs, state.outputs) | indent(8) }}
            {%- elif fsm.fsm_type.name == 'MEALY' -%}
            {{ state_output_mealy(coding_structure, output_handling_method, fsm.outputs, state.transitions) | indent(8) }}
            {%- endif %}
        end
        {%- endfor %}
        default : begin
        {%- if output_handling_method == 'ALL_OUTPUTS_SET_FROM_STATE_LOGIC' -%}
        {{- fsm_outputs_all_zeroed(coding_structure, fsm.outputs) | indent(12) }}
        {%- endif %}
        end
    endcase
    {%- elif  combinatorial_structure == 'IF_ELSE_NESTED' %}
{%- for state in fsm.states.values() %}
    {%- if loop.first %}
    {{ state_condition(combinatorial_structure, state.name, True) }}
    {%- else %}
    {{ state_condition(combinatorial_structure, state.name, False) }}
    {%- endif %} begin
        {%- if fsm.fsm_type.name == 'MOORE' -%}
        {{ state_output_moore(coding_structure, output_handling_method, fsm.outputs, state.outputs) | indent(4) }}
        {%- elif fsm.fsm_type.name == 'MEALY' -%}
        {{ state_output_mealy(coding_structure, output_handling_method, fsm.outputs, state.transitions) | indent(4) }}
        {%- endif %}
    end
{%- endfor %}
    else begin
    {%- if output_handling_method == 'ALL_OUTPUTS_SET_FROM_STATE_LOGIC' -%}
    {{- fsm_outputs_all_zeroed(coding_structure, fsm.outputs) | indent(8) }}
    {%- endif %}
    end
    {%- endif %}
end